In [23]:
import numpy as np
import pandas as pd

In [80]:
a_data = np.load("A_RESULTS.npy")
b_data = np.load("B_RESULTS.npy")

In [81]:
df_data = pd.DataFrame()

In [82]:
df_data['x'] = a_data[0,:].astype(int)
df_data['y'] = b_data[0,:].astype(int)

df_data['a'] = a_data[1,:].astype(int)
df_data['b'] = b_data[1,:].astype(int)

In [83]:
def concat_bases(row):
    return str(row['x'])+str(row['y'])

In [84]:
df_data['xy'] = df_data.apply(concat_bases, axis=1)

In [85]:
count_dict = {}
for xy in ['00', '01', '10', '11']:
    df_data_xy = df_data[df_data['xy'] == xy]
    eq_count = len(df_data_xy[df_data_xy['a'] == df_data_xy['b']])
    neq_count = len(df_data_xy[df_data_xy['a'] != df_data_xy['b']])
    count_dict[xy] = (eq_count, neq_count)

In [86]:
count_dict

{'00': (223, 6), '01': (249, 7), '10': (255, 6), '11': (251, 3)}

In [87]:
I = 0
for xy in ['00', '01', '10', '11']:
    coef = (-1)**(int(xy[0])*int(xy[1]))
    I += coef * (count_dict[xy][0] - count_dict[xy][1]) / 0.25
    print(I)
I /= len(df_data)

868.0
1836.0
2832.0
1840.0

In [78]:
I

0.944

In [79]:
df_data_00 = df_data[df_data['xy']=='00']
df_data_00[df_data_00['a']!=df_data_00['b']]

     x  y  a  b  xy
0    0  0  0  1  00
463  0  0  0  1  00
487  0  0  1  0  00